
body {
    background: url(./images/techno-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    border: white solid 3px;
    background: transparent !important;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.list-group-item {
    background: transparent !important;
}

#name {
    text-align: center;
    font-size: 36px;
}

#role {
    text-align: center;
    font-size: 28px;
}

#icon {
    height: 90px;
    width: 90px;
    padding: 10px;
    position: absolute;
right: 0px;
bottom: 0px;
/* top: 0px; */
}

